# URL del proyecto Supabase (Obtener desde Dashboard -> Project Settings -> API)
EXPO_PUBLIC_SUPABASE_URL=

# Anon Key pública (Obtener desde Dashboard -> Project Settings -> API)
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Clave API de Google Maps (Obtener desde Google Cloud Console para Android/iOS)
EXPO_PUBLIC_MAPS_API_KEY=

# Direccionamiento de la API Python backend (ej: http://localhost:8000 local, o render en produccion)
EXPO_PUBLIC_API_URL=

# Entorno activo (development | production)
EXPO_PUBLIC_APP_ENV=development
